@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300;1,400;1,700&display=swap');

body {
    font-family: Barlow;
    margin:18px;
}
h1 {
    font-family: Barlow;
    font-weight: 600;
}
h2 {
    font-family: Barlow;
    font-weight: 400;
}
.btn {
    font-size:18px;
    font-family: Barlow;
    background-color: #ffffff;
    border-radius: 5px;
    border-color:black;
    padding:8px;
    margin:10px 0;
}
.btn:hover {
    background-color: #d3d3d3;

}
.element{
    display:flex;
    margin: 20px 0;
}
.field{
    margin:10px;
    width:30%;
    padding:8px;
}

p, input[type="text"], input[type="date"] {
    font-family: Barlow;
    font-weight: 300px;
    font-size:18px;
}

.alert{
    color:red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:9px;

  }