{% extends 'base.html' %}

{% block head%}
<title>Add Drone</title>
{%endblock%}

{% block body%}
<h1>Add Drone</h1>
<div class="main">
      <a href="{{ url_for('index') }}"><button class="btn">Home Page</button></a>
    </br>                 
    <h2>Add a drone to the database!</h2>
    <form action="{{ url_for('addDrone')}}" method="post" autocomplete="off">
      <div class="element">
                  <p>ID:</p>
                  <input type="text" name="id" placeholder="Enter drone ID" class="field" id="id" required>
            </div>
            <div class="element">
                  <p>Tag:</p>
                  <input type="number" name="tag" placeholder="Enter drone tag" class="field" id="tag" required min = "0" max="2147483647"></br></br>
            </div>
            <div class="element">
                <p>Fuel:</p>
                <input type="number" name="fuel" placeholder="Enter drone fuel" class="field" id="fuel" required min="0" max="2147483647"></br></br>
          </div>
            <div class="element">
                  <p>Capacity:</p>
                  <input type="number" name="capacity" placeholder="Enter drone capacity" class="field" id="capacity" required min="0" max="2147483647"></br></br>
            </div> 
            <div class="element">
                <p>Sales:</p>
                <input type="number" name="sales" placeholder="Enter drone sales" class="field" id="sales" required min="0" max="2147483647"></br></br>
          </div> 
          <div class="element">
            <p>Flown by:</p>
            <input type="text" name="pilot" placeholder="Enter drone pilot" class="field" id="pilot" required>
      </div>
            <input type="submit" class="btn" value="Update">
            <div><p class="alert">{{alert}}</p></div>

      </form>                    
</div>
{%endblock%}

