{% extends 'base.html' %}

{% block head%}
<title>Add Service</title>
{%endblock%}

{% block body%}
<h1>Add Service</h1>
<div class="main">
      <a href="{{ url_for('index') }}"><button class="btn">Home Page</button></a>
    </br>                 
    <h2>Fill in new service details</h2>
    <form action="{{ url_for('addService')}}" method="post" autocomplete="off">
      <div class="element">
                  <p>Service ID:</p>
                  <input type="text" name="id" placeholder="Enter service ID" class="field" id="id" maxlength="40" pattern="^\S*$" title = "No whitespace allowed" required>
            </div>
            <div class="element">
                  <p>Service name:</p>
                  <input type="text" name="long_name" placeholder="Enter service name" class="field" id="long_name" maxlength="100" pattern="\S(.*\S)?" title="No whitespace in front or back allowed" required></br></br>
            </div>
            <div class="element">
                  <p>Base location:</p>
                  <input type="text" name="home_base" placeholder="Enter base location" class="field" id="home_base" maxlength="40" pattern="\S(.*\S)?" title="No whitespace in front or back allowed" required></br></br>
            </div>
            <div class="element">
                  <p>Manager name:</p>
                  <input type="text" name="manager" placeholder="Enter manager name" class="field" id="manager" maxlength="40" pattern="^\S*$" title = "No whitespace allowed" required></br></br>
            </div>
            <input type="submit" class="btn" value="Update">
            <div><p class="alert">{{alert}}</p></div>

      </form>                    
</div>
{%endblock%}