{% extends 'base.html' %}

{% block head%}
<title>Display Ingredients</title>
{%endblock%}

{% block body%}
<div class="main">                 
    <h1>Display Ingredients</h1>
    <table>
          <tr>
              <th>ingredient_name</th>
              <th>location</th>
              <th>amount_available</th>
              <th>low_price</th>
              <th>high_price</th>
          </tr>
           {% for row in rows%}    
            <tr>
                  <td>{{row['ingredient_name']}}</td>
                  <td>{{row['location']}}</td>
                  <td>{{row['amount_available']}}</td>
                  <td>{{row['low_price']}}</td>
                  <td>{{row['high_price']}}</td>
              </tr>
            {% endfor %}
      </table>
</div>
{%endblock%}

