{% extends 'base.html' %}

{% block head%}
<title>Display Owner</title>
{%endblock%}

{% block body%}
<div class="main">
    <a href="{{ url_for('index') }}"><button class="btn">Home Page</button></a>
    </br>                 
    <h1>Display Owner</h1>
    <table>
          <tr>
              <th>username</th>
              <th>first name</th>
              <th>last name</th>
              <th>address</th>
              <th>num restuarants</th>
              <th>num places</th>
              <th>highs</th>
              <th>lows</th>
              <th>debt</th>
          </tr>
           {% for row in rows%}    
            <tr>
                  <td>{{row['username']}}</td>
                  <td>{{row['first_name']}}</td>
                  <td>{{row['last_name']}}</td>
                  <td>{{row['address']}}</td>
                  <td>{{row['num_restaurants']}}</td>
                  <td>{{row['num_places']}}</td>
                  <td>{{row['highs']}}</td>
                  <td>{{row['lows']}}</td>
                  <td>{{row['debt']}}</td>
              </tr>
            {% endfor %}
      </table>

</div>
{%endblock%}

