{% extends 'base.html' %}

{% block head%}
<title>Display Views</title>
{%endblock%}

{% block body%}
<div class="main">
    <a href="{{ url_for('index') }}"><button class="btn">Home Page</button></a>
    </br>                 
    <h1>Display Owner</h1>
    <table>
          <tr>
              <th>username</th>
              <th>first name</th>
              <th>last name</th>
              <th>address</th>
              <th>num restuarants</th>
              <th>num places</th>
              <th>highs</th>
              <th>lows</th>
              <th>debt</th>
          </tr>
           {% for row in ownerRows%}    
            <tr>
                  <td>{{row['username']}}</td>
                  <td>{{row['first_name']}}</td>
                  <td>{{row['last_name']}}</td>
                  <td>{{row['address']}}</td>
                  <td>{{row['num_restaurants']}}</td>
                  <td>{{row['num_places']}}</td>
                  <td>{{row['highs']}}</td>
                  <td>{{row['lows']}}</td>
                  <td>{{row['debt']}}</td>
              </tr>
            {% endfor %}
      </table>
      <h1>Display Employee</h1>
      <table>
            <tr>
                <th>Username</th>
                <th>taxID</th>
                <th>Salary</th>
                <th>Hire Date</th>
                <th>Employee Experience</th>
                <th>License ID</th>
                <th>Pilot Experience</th>
                <th>Manager?</th>
            </tr>
             {% for row in employeeRows%}    
              <tr>
                    <td>{{row['username']}}</td>
                    <td>{{row['taxID']}}</td>
                    <td>{{row['salary']}}</td>
                    <td>{{row['hired']}}</td>
                    <td>{{row['employee_experience']}}</td>
                    <td>{{row['licenseID']}}</td>
                    <td>{{row['pilot_experience']}}</td>
                    <td>{{row['manager_status']}}</td>
                </tr>
              {% endfor %}
        </table>

        <h1>Display Ingredients</h1>
        <table>
              <tr>
                  <th>ingredient_name</th>
                  <th>location</th>
                  <th>amount_available</th>
                  <th>low_price</th>
                  <th>high_price</th>
              </tr>
               {% for row in ingredientRows%}    
                <tr>
                      <td>{{row['ingredient_name']}}</td>
                      <td>{{row['location']}}</td>
                      <td>{{row['amount_available']}}</td>
                      <td>{{row['low_price']}}</td>
                      <td>{{row['high_price']}}</td>
                  </tr>
                {% endfor %}
          </table>

          <h1>Display Service</h1>
          <table>
                <tr>
                    <th>id</th>
                    <th>long_name</th>
                    <th>home_base</th>
                    <th>manager</th>
                    <th>revenue</th>
                    <th>ingredients_carried</th>
                    <th>cost_carried</th>
                    <th>weight_carried</th>
                </tr>
                 {% for row in serviceRows%}    
                  <tr>
                        <td>{{row['id']}}</td>
                        <td>{{row['long_name']}}</td>
                        <td>{{row['home_base']}}</td>
                        <td>{{row['manager']}}</td>
                        <td>{{row['revenue']}}</td>
                        <td>{{row['ingredients_carried']}}</td>
                        <td>{{row['cost_carried']}}</td>
                        <td>{{row['weight_carried']}}</td>
                    </tr>
                  {% endfor %}
            </table>

</div>
{%endblock%}

