{% extends 'base.html' %}

{% block head%}
<title>Display Service</title>
{%endblock%}

{% block body%}
<div class="main">                 
    <h1>Display Service</h1>
    <table>
          <tr>
              <th>id</th>
              <th>long_name</th>
              <th>home_base</th>
              <th>manager</th>
              <th>revenue</th>
              <th>ingredients_carried</th>
              <th>cost_carried</th>
              <th>weight_carried</th>
          </tr>
           {% for row in rows%}    
            <tr>
                  <td>{{row['id']}}</td>
                  <td>{{row['long_name']}}</td>
                  <td>{{row['home_base']}}</td>
                  <td>{{row['manager']}}</td>
                  <td>{{row['revenue']}}</td>
                  <td>{{row['ingredients_carried']}}</td>
                  <td>{{row['cost_carried']}}</td>
                  <td>{{row['weight_carried']}}</td>
              </tr>
            {% endfor %}
      </table>
</div>
{%endblock%}

