{% extends 'base.html' %}

{% block head%}
<title>Display Views</title>
{%endblock%}

{% block body%}
<div class="main">
    <a href="{{ url_for('index') }}"><button class="btn">Home Page</button></a>
    </br>                 
    <h1>Display Owner</h1>
    <table>
          <tr>
              <th>username</th>
              <th>first name</th>
              <th>last name</th>
              <th>address</th>
              <th>num restuarants</th>
              <th>num places</th>
              <th>highs</th>
              <th>lows</th>
              <th>debt</th>
          </tr>
           {% for row in ownerRows%}    
            <tr>
                  <td>{{row['username']}}</td>
                  <td>{{row['first_name']}}</td>
                  <td>{{row['last_name']}}</td>
                  <td>{{row['address']}}</td>
                  <td>{{row['num_restaurants']}}</td>
                  <td>{{row['num_places']}}</td>
                  <td>{{row['highs']}}</td>
                  <td>{{row['lows']}}</td>
                  <td>{{row['debt']}}</td>
              </tr>
            {% endfor %}
      </table>
    <h1>Display Employee</h1>
      <table>
            <tr>
                <th>Username</th>
                <th>taxID</th>
                <th>Salary</th>
                <th>Hire Date</th>
                <th>Employee Experience</th>
                <th>License ID</th>
                <th>Pilot Experience</th>
                <th>Manager?</th>
            </tr>
             {% for row in employeeRows%}    
              <tr>
                    <td>{{row['username']}}</td>
                    <td>{{row['taxID']}}</td>
                    <td>{{row['salary']}}</td>
                    <td>{{row['hired']}}</td>
                    <td>{{row['employee_experience']}}</td>
                    <td>{{row['licenseID']}}</td>
                    <td>{{row['pilot_experience']}}</td>
                    <td>{{row['manager_status']}}</td>
                </tr>
              {% endfor %}
        </table>
    <h1>Display Employee</h1>
        <table>
              <tr>
                  <th>Username</th>
                  <th>taxID</th>
                  <th>Salary</th>
                  <th>Hire Date</th>
                  <th>Employee Experience</th>
                  <th>License ID</th>
                  <th>Pilot Experience</th>
                  <th>Manager?</th>
              </tr>
               {% for row in employeeRows%}    
                <tr>
                      <td>{{row['username']}}</td>
                      <td>{{row['taxID']}}</td>
                      <td>{{row['salary']}}</td>
                      <td>{{row['hired']}}</td>
                      <td>{{row['employee_experience']}}</td>
                      <td>{{row['licenseID']}}</td>
                      <td>{{row['pilot_experience']}}</td>
                      <td>{{row['manager_status']}}</td>
                  </tr>
                {% endfor %}
          </table>

</div>
{%endblock%}

