{% extends 'base.html' %}

{% block head%}
<title>Purchase Ingredient</title>
{%endblock%}

{% block body%}
<h1>Purchase Ingredient</h1>
<div class="main">                 
    <h2>Fill in user details here!</h2>
    <form action="{{ url_for('purchaseIng')}}" method="post" autocomplete="off">
      <div class="element">
                  <p>Restaurant Name:</p>
                  <input type="text" name="longName" placeholder="Enter restaurant name" class="field" id="longName" required>
            </div>
            <div class="element">
                  <p>Id:</p>
                  <input type="text" name="id" placeholder="Enter id" class="field" id="id" required></br></br>
            </div>
            <div class="element">
                  <p>Tag:</p>
                  <input type="text" name="tag" placeholder="Enter tag" class="field" id="tag" required></br></br>
            </div>
            <div class="element">
                  <p>Barcode:</p>
                  <input type="text" name="barcode" placeholder="Enter barcode" class="field" id="barcode" required></br></br>
            </div>     
            <div class="element">
                  <p>Quantity:</p>
                  <input type="text" name="quantity" placeholder="Enter quantity" class="field" id="quantity" required></br></br>
            </div>   
            <input type="submit" class="btn" value="Update">
            <div><p class="alert">{{alert}}</p></div>

      </form>                    
</div>
{%endblock%}

