{% extends 'base.html' %}

{% block head%}
<title>Remove Pilot</title>
{%endblock%}

{% block body%}
<h1>Remove Pilot</h1>
<div class="main">                 
    <h2>Remove pilot here!</h2>
    <form action="{{ url_for('removePilot')}}" method="post" autocomplete="off">
      <div class="element">
                  <p>Username:</p>
                  <input type="text" name="username" placeholder="Enter user username" class="field" id="username" pattern="^\S*$" title = "No whitespace allowed" required>
            </div>
            <input type="submit" class="btn" value="Update">
            <div><p class="alert">{{alert}}</p></div>

      </form>                    
</div>
{%endblock%}

